{{ define "main" }}
<main id="main-content" class="grid-x">

    <article class="essay large-8 large-offset-2 medium-10 medium-offset-1 small-10 small-offset-1 cell">

        <header class="essay-header">
            <span class="author">
                {{ $authorCount := len .Params.authors }}
                {{ range $index, $author := .Params.authors }}
                {{ $authorIndex := add $index 1 }}
                {{ if eq $authorCount 1 }}
                {{ if $author.url }}<a href="{{ $author.url }}">{{ $author.first }} {{ $author.last }}</a>{{ else }}{{ $author.first }} {{ $author.last }}{{ end }}
                {{ with $author.orcid }}<a class="orcid-link" href="https://orcid.org/{{ . }}" aria-label="ORCID profile for {{ $author.first }} {{ $author.last }}"><img class="orcid-logo" alt="ORCID iD icon"
                        src="{{ $.Site.BaseURL }}/assets/img/orcid.svg"></a>{{ end }}
                {{ else if eq $authorCount 2 }}
                {{ if $author.url }}<a href="{{ $author.url }}">{{ $author.first }} {{ $author.last }}</a>{{ else }}{{ $author.first }} {{ $author.last }}{{ end }}
                {{ with $author.orcid }}<a class="orcid-link" href="https://orcid.org/{{ . }}" aria-label="ORCID profile for {{ $author.first }} {{ $author.last }}"><img class="orcid-logo" alt="ORCID iD icon"
                        src="{{ $.Site.BaseURL }}/assets/img/orcid.svg"></a>{{ end }}
                {{ if eq $authorIndex 1 }} and
                {{ end }}
                {{ else }}
                {{ $authorIndexTwo := add $authorIndex 1 }}
                {{ if $author.url }}<a href="{{ $author.url }}">{{ $author.first }}
                    {{ $author.last }}</a>{{ else }}{{ $author.first }} {{ $author.last }}{{ end }}
                {{ with $author.orcid }}<a class="orcid-link" href="https://orcid.org/{{ . }}" aria-label="ORCID profile for {{ $author.first }} {{ $author.last }}"><img class="orcid-logo" alt="ORCID iD icon"
                        src="{{ $.Site.BaseURL }}/assets/img/orcid.svg"></a>{{ end }}
                {{ if eq $authorIndex $authorCount }}{{ else if eq $authorIndexTwo $authorCount }},
                and {{ else }},{{ end }}
                {{ end }}
                {{ end }}
            </span>
            <h1 class="essay-title">
                {{ .Title | safeHTML }}
                {{ with .Params.subtitle }}
                <br><small>{{ . | safeHTML }}</small>
                {{ end }}
            </h1>
            <span class="meta">
                Volume: {{ .Params.volume_number }} ({{ .Params.year }})<br>
                Published: <time
                    datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time><br>
                DOI: <a href="{{ .Params.doi }}">{{ .Params.doi }}</a>
            </span>
        </header>

        <section class="abstract callout" aria-label="Abstract">
            <h2>Abstract</h2>
            <div class="abstract-contents">
                {{ .Params.abstract | markdownify }}
            </div>
        </section>
        {{ partial "footnote-backrefs.html" .Content }}
        {{ with .Params.appendix }}
        <hr>
        {{ if ge (len .) 2 }}
        <h2 id="appendix">Appendices</h2>
        {{ else }}
        <h2 id="appendix">Appendix</h2>
        {{ end }}
        <ul>
            {{ range . }}
            {{ if .file }}
            <li><a href="{{ $.Site.Params.appendices }}/{{ .file }}" download>{{ .name }}</a></li>
            {{ else }}
            <li><a href="{{ .url }}">{{ .name }}</a></li>
            {{ end }}
            {{ end }}
        </ul>
        {{ end }}
        <hr>
        {{ if gt (len .Params.authors) 1 }}
        <h2 id="author">Authors</h2>
        {{ else }}
        <h2 id="author">Author</h2>
        {{ end }}
        <p>
            {{ range $index, $author := .Params.authors }}
            {{ $authorName := printf "%s %s" $author.first $author.last }}
            {{ if $author.url }}
            <a href="{{ $author.url }}">{{ $authorName }}</a>,
            {{ else }}
            {{ $authorName }},
            {{ end }}
            {{ $author.affiliation }}, <a href="mailto:{{ $author.email }}">{{ $author.email }}</a>, <a
                href="https://orcid.org/{{ $author.orcid }}" aria-label="ORCID profile for {{ $authorName }}, {{ $author.orcid }}"><img src="{{ $.Site.BaseURL }}/assets/img/orcid.svg"
                    style="width:16px; height: 16px;" alt="ORCID iD icon"
                    class="orcid">{{ $author.orcid }}</a>{{ if ne (add $index 1) (len $.Params.authors) }};{{ end }}
            {{ end }}
        </p>
    </article>
</main>
{{ end }}
